@model IEnumerable<StudyControlWeb.ViewModels.ScheduleViewModel>
@{
    
}
<div class="container">
    <div class="col p-3">
        <a class="btn btn-success" asp-action="CreateSchedule" asp-controller="Schedule">Добавить расписание</a>
    </div>
    <h3 class="p-3 text-center">Список расписаний</h3>
    <form class="row justify-content-end" method="get">
        <div class="col-3">
            <input type="text" name="search" placeholder="Поиск" value="@ViewBag.Search" class="form-control" />
        </div>
        <div class="col-1">
            <input type="submit" value="Найти" class="btn btn-outline-dark" />
        </div>
    </form>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>
                <a asp-action="Schedules" 
                asp-route-sortState="@ViewBag.SortModel.FirstSort"
                asp-route-search="@(ViewBag.Search)">Семестр</a>
            </th>
            <th>
                <a asp-action="Schedules" 
                asp-route-sortState="@ViewBag.SortModel.SecondSort"
                asp-route-search="@(ViewBag.Search)">Код группы</a>
            </th>
            <th>
                <a asp-action="Schedules" 
                asp-route-sortState="@ViewBag.SortModel.ThirdSort"
                asp-route-search="@(ViewBag.Search)">Факультет</a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach(var s in Model)
            {
                <tr>
                    <td>@s.TermNumber</td>
                    <td>@s.GroupCode</td>
                    <td>@s.FacultyTitle</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Cells" asp-controller="Cell" asp-route-scheduleId="@s.Id">Перейти</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm" asp-action="EditSchedule" asp-controller="Schedule" asp-route-id="@s.Id">Изменить</a>
                    </td>
                    <td>
                        <form asp-action="CopySchedule" asp-controller="Schedule" asp-route-id="@s.Id" method="post">
                            <input type="submit" class="btn btn-primary btn-sm" value="Копировать"/>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteSchedule" asp-controller="Schedule" asp-route-id="@s.Id" method="post">
                            <input type="submit" class="btn btn-danger btn-sm" value="Удалить"/>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            @if (ViewBag.PageModel.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" 
                    asp-action="Schedules" 
                    asp-route-sortState="@ViewBag.SortModel.Current"
                    asp-route-page="@(ViewBag.PageModel.PageNumber-1)"
                    asp-route-search="@(ViewBag.Search)">Назад</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Назад</a>
                </li>
            }
            @for (int page = 1; page <= ViewBag.PageModel.TotalPages; page++)
            {
                if (ViewBag.PageModel.PageNumber == page)
                {
                    <li class="page-item active">
                        <a class="page-link"
                        asp-action="Schedules" 
                        asp-route-sortState="@ViewBag.SortModel.Current"
                        asp-route-page="@(page)"
                        asp-route-search="@(ViewBag.Search)">@(page)</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link"
                        asp-action="Schedules" 
                        asp-route-sortState="@ViewBag.SortModel.Current"
                        asp-route-page="@(page)"
                        asp-route-search="@(ViewBag.Search)">@(page)</a>
                    </li>
                }
            }
            @if (ViewBag.PageModel.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" 
                    asp-action="Schedules" 
                    asp-route-sortState="@ViewBag.SortModel.Current"
                    asp-route-page="@(ViewBag.PageModel.PageNumber+1)"
                    asp-route-search="@(ViewBag.Search)">Вперед</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Вперед</a>
                </li>
            }
        </ul>
    </nav>
</div>
