@model IEnumerable<StudyControlWeb.ViewModels.AreaViewModel>
@{
    
}
<div class="container">
    <div class="col p-3">
        <a class="btn btn-success" asp-action="CreateArea" asp-controller="Area">Добавить направление</a>
    </div>
    <h3 class="p-3 text-center">Список направлений подготовки</h3>
    <form class="row justify-content-end" method="get">
        <div class="col-3">
            <input type="text" name="search" placeholder="Поиск" value="@ViewBag.Search" class="form-control" />
        </div>
        <div class="col-1">
            <input type="submit" value="Найти" class="btn btn-outline-dark" />
        </div>
    </form>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>
                <a asp-action="Areas" 
                asp-route-sortState="@ViewBag.SortModel.FirstSort"
                asp-route-search="@(ViewBag.Search)">Код направления</a>
            </th>
            <th>
                <a asp-action="Areas" 
                asp-route-sortState="@ViewBag.SortModel.SecondSort"
                asp-route-search="@(ViewBag.Search)">Уровень подготовки</a>
            </th>
            <th>
                <a asp-action="Areas" 
                asp-route-sortState="@ViewBag.SortModel.ThirdSort"
                asp-route-search="@(ViewBag.Search)">Наименование</a>
            </th>
            <th>
                <a asp-action="Areas" 
                asp-route-sortState="@ViewBag.SortModel.FourthSort"
                asp-route-search="@(ViewBag.Search)">Форма обучения</a>
            </th>
            <th>
                <a asp-action="Areas" 
                asp-route-sortState="@ViewBag.SortModel.FifthSort"
                asp-route-search="@(ViewBag.Search)">Выпускающая кафедра</a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach(var a in Model)
            {
                <tr>
                    <td>@a.Code</td>
                    <td>@a.DegreeName</td>
                    <td>@a.Title (@a.Profile)</td>
                    <td>@a.Form</td>
                    <td>@a.DepartmentTitle</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Subjects" asp-controller="Subject" asp-route-id="@a.Id">Учебный план</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm" asp-action="EditArea" asp-controller="Area" asp-route-id="@a.Id">Изменить</a>
                    </td>
                    <td>
                        <form asp-action="CopyArea" asp-controller="Area" asp-route-id="@a.Id" method="post">
                            <input type="submit" class="btn btn-primary btn-sm" value="Копировать"/>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteArea" asp-controller="Area" asp-route-id="@a.Id" method="post">
                            <input type="submit" class="btn btn-danger btn-sm" value="Удалить"/>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
     <nav>
        <ul class="pagination">
            @if (ViewBag.PageModel.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" 
                    asp-action="Areas" 
                    asp-route-sortState="@ViewBag.SortModel.Current"
                    asp-route-page="@(ViewBag.PageModel.PageNumber-1)"
                    asp-route-search="@(ViewBag.Search)">Назад</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Назад</a>
                </li>
            }
            @for (int page = 1; page <= ViewBag.PageModel.TotalPages; page++)
            {
                if (ViewBag.PageModel.PageNumber == page)
                {
                    <li class="page-item active">
                        <a class="page-link"
                        asp-action="Areas" 
                        asp-route-sortState="@ViewBag.SortModel.Current"
                        asp-route-page="@(page)"
                        asp-route-search="@(ViewBag.Search)">@(page)</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link"
                        asp-action="Areas" 
                        asp-route-sortState="@ViewBag.SortModel.Current"
                        asp-route-page="@(page)"
                        asp-route-search="@(ViewBag.Search)">@(page)</a>
                    </li>
                }
            }
            @if (ViewBag.PageModel.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" 
                    asp-action="Areas" 
                    asp-route-sortState="@ViewBag.SortModel.Current"
                    asp-route-page="@(ViewBag.PageModel.PageNumber+1)"
                    asp-route-search="@(ViewBag.Search)">Вперед</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Вперед</a>
                </li>
            }
        </ul>
    </nav>
</div>
