@model StudyControlWeb.ViewModels.AttestationsViewModel
@{
    
}
<div class="container">
    @if(User.IsInRole("Admin") || User.IsInRole("Faculty"))
    {
        <div class="col p-3">
            <a class="btn btn-success" asp-action="CreateCurrentAttestation" asp-controller="Performance" asp-route-groupId="@Model.Group.Id">Добавить текущую аттестацию</a>
            <a class="btn btn-success" asp-action="CreateIntermediateAttestation" asp-controller="Performance" asp-route-groupId="@Model.Group.Id">Добавить промежуточную аттестацию</a>
            <a class="btn btn-success" asp-action="CreateFinalAttestation" asp-controller="Performance" asp-route-groupId="@Model.Group.Id">Добавить итоговую аттестацию</a>
        </div>
    }
    <h3 class="p-3 text-center">Список аттестаций @Model.Group.Code</h3>
    <h5 class="p-3 text-center">Текущие аттестации</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Студент</th>
                <th>Дисциплина</th>
                <th>Дата проведения</th>
                <th>Баллы</th>
                <th>Посещаемость</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.CurrentAttestations)
            {
                <tr>
                    <td>@c.StudentName</td>
                    <td>@c.SubjectTitle</td>
                    <td>@c.Date.ToShortDateString()</td>
                    <td>@c.Performance</td>
                    <td>@c.Attendance</td>
                    @if(User.IsInRole("Admin") || User.IsInRole("Faculty"))
                    {
                        <td>
                            <a class="btn btn-secondary btn-sm" asp-action="EditCurrentAttestation" asp-controller="Performance" asp-route-id="@c.Id" asp-route-groupId="@Model.Group.Id">Изменить</a>
                        </td>
                        <td>
                            <form asp-action="DeleteCurrentAttestation" asp-controller="Performance" asp-route-id="@c.Id" method="post">
                                <input type="submit" class="btn btn-danger btn-sm" value="Удалить"/>
                            </form>
                        </td>
                    }
                </tr>
            }
                
        </tbody>
    </table>
    <h5 class="p-3 text-center">Промежуточные аттестации</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Студент</th>
                <th>Дисциплина</th>
                <th>Вид контроля</th>
                <th>Дата проведения</th>
                <th>Баллы</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in @Model.IntermediateAttestations)
            {
                <tr>
                    <td>@i.StudentName</td>
                    <td>@i.SubjectTitle</td>
                    <td>@i.ControlType</td>
                    <td>@i.Date.ToShortDateString()</td>
                    <td>@i.Performance</td>
                    @if(User.IsInRole("Admin") || User.IsInRole("Faculty"))
                    {
                        <td>
                            <a class="btn btn-secondary btn-sm" asp-action="EditIntermediateAttestation" asp-controller="Performance" asp-route-id="@i.Id" asp-route-groupId="@Model.Group.Id">Изменить</a>
                        </td>
                        <td>
                            <form asp-action="DeleteIntermediateAttestation" asp-controller="Performance" asp-route-id="@i.Id" method="post">
                                <input type="submit" class="btn btn-danger btn-sm" value="Удалить"/>
                            </form>
                        </td>
                    }
                </tr>
            }
                
        </tbody>
    </table>
    <h5 class="p-3 text-center">Итоговые аттестации</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Студент</th>
                <th>Вид</th>
                <th>Дата проведения</th>
                <th>Баллы</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model.FinalAttestations)
            {
                <tr>
                    <td>@f.StudentName</td>
                    <td>@f.Type</td>
                    <td>@f.Date.ToShortDateString()</td>
                    <td>@f.Performance</td>
                    @if(User.IsInRole("Admin") || User.IsInRole("Faculty"))
                    {
                        <td>
                            <a class="btn btn-secondary btn-sm" asp-action="EditFinalAttestation" asp-controller="Performance" asp-route-id="@f.Id" asp-route-groupId="@Model.Group.Id">Изменить</a>
                        </td>
                        <td>
                            <form asp-action="DeleteFinalAttestation" asp-controller="Performance" asp-route-id="@f.Id" method="post">
                                <input type="submit" class="btn btn-danger btn-sm" value="Удалить"/>
                            </form>
                        </td>
                    }
                </tr>
            }
                
        </tbody>
    </table>
</div>
